<main>
<section class="hero-section">
    <div class="hero-section-image">
        <div class="hero-section-content">
            <p>
                Simplfying Interfaces For Users
            </p>
        </div>
    </div>
</section>
<section class="offering-panel">
    <div class="offering-content">
        <p>
            Inappropriately designed user interfaces cause huge loss of productivity. We are soon launching our first
            product to solve this problem.
         </p>
    </div>  
    <div class="learnmore-link">
        <a href="#">Learn more</a>
    </div>
</section>
<section class="webf-panel">
    <div class="webf-content">
        <p>
            We are people behind
            <span class="webf-link">
                <a href="http://www.webf.zone/">
                    &lt;web-f&gt;
                </a>
            </span>
        </p>
    </div>
</section>
<section class="about-us">
    <div class="about-us-wrapper">
        <div class="about-us-title">
            <p>
                About Us
            </p>
        </div>
        <div class="organisation-twitter">
            <div class="twitter-handle-img">
               <a href="https://twitter.com/usablebytes">
                <img src="../../static/images/twitter-icon1.png" alt="link to twitter">
            </a> 
            </div>
            <div class="organisation-twitter-name">
                <a href="https://twitter.com/usablebytes">
                    <p>
                        @UsableBytes
                    </p>
                </a>
                <div class="clear-fix"></div>
            </div>
        </div>
        <div class="organisation-address">
            <p>
                Pune,India
            </p>
        </div>
    </div>
</section>
</main>