<div>
<div id="hero-section">
    <div id="hero-section-image">
        <div id="hero-section-content">
            <p>Simplfying Interfaces For Users</p>
        </div>
    </div>
</div>
<div id="offering-panel">
    <div id="offering-content">
        <p>Inappropriately designed user interfaces cause huge loss of productivity. We are soon launching our first
            product to solve this problem. </p>
    </div>  
    <div id="learnmore-link">
        <a href="#">Learn more</a>
    </div>
</div>
<div id="webf-panel">
    <div id="webf-content">
        <p>We are people behind
            <span id="webf-link">
                <a href="http://www.webf.zone/">&ltweb-f&gt</a>
            </span>
        </p>
    </div>
</div>
<div id="about-us">
    <div id="about-us-wrapper">
        <div id="about-us-title">
            <p>About Us</p>
        </div>
        <div id="organisation-twitter">
            <div id="twitter-handle-img">
               <a href="https://twitter.com/usablebytes"><img src="../../../static/images/Twitter-icon.png" alt="link to twitter"></a> 
            </div>
            <div id="organisation-twitter-name">
                <a href="https://twitter.com/usablebytes"><p>@UsableBytes</p></a>
                <div class="clear-fix"></div>
            </div>
        </div>
        <div id="organisation-address">
            <p>Pune,India</p>
        </div>
    </div>
</div>
</div>