@import '../../../assets/css/main.scss';
$background-color: rgb(240, 228, 228);
$font-stack: 'Lato',sans-serif;
$word-spacing: 0.2rem;

* {
    margin: 0;
    padding: 0;
}

.hero-section {
    margin: auto;
    width: 100%;
}

.hero-section-image {
    background-image: url('../../static/images/hero-section-background-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.hero-section-content {
    color: white;
    font-size: 2rem;
    font-family: $font-stack;
    margin: auto;
    max-width: 1440px;
    padding-top: 45vh;
    word-spacing: $word-spacing;

    p {
        transform: translate(0, -50%);
        padding-left: 1.5rem;
    }
}

.offering-panel {
    align-items: center;
    background-color: $background-color;
    display: flex;
    font-family: $font-stack;
    height: 60vh;
    justify-content: center;
    margin: auto;
    position: relative;
    word-spacing: $word-spacing;
}

.offering-content {
    max-width: 1440px;

    p {
        font-size: 1.2rem;
        padding: 0 1.5rem;
    }
}

.learnmore-link {
    position: absolute;
    top: 85%;
    right: 20%;
    font-size: 1.2rem;
}

.webf-panel {
    height: 40vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-spacing: $word-spacing;
}

.webf-content {
    font-family: $font-stack;
    font-size: 1.2rem;
    max-width: 1440px;
    padding: 0 1.5rem;

    a:link {
        color: #0AAB8A;
        font-weight: bold;
        text-decoration: none;
    }
}

.about-us {
    background-color: $background-color;
    height: 20vh;
}

.about-us-wrapper {
    max-width: 1440px;
}

.about-us-title {
    display: inline-block;
    font-family: $font-stack;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1.2rem;
    padding: 0 0 0 1.5rem;
}

.organisation-twitter {
    margin-top: 1.2rem;
    float: right;
}

.twitter-handle-img {
    display: inline-block;
}

.organisation-twitter-name {
    display: inline-block;
    font-family: $font-stack;
    font-size: 1rem;
    font-weight:bold;
    margin: 0 1.5rem 0 0;
    vertical-align:50%;

    a {
        color: black;
        text-decoration: none;
    }
}

.organisation-address {
    font-family: $font-stack;
    font-size: 1rem;
    margin-top: 10px;
    padding:0 0 0 1.5rem;
}

@include respond-to('medium') {
    .hero-section-content {
        font-size: 2.3rem;
    }

    .offering-content {
        p {
            font-size: 1.7rem;
        }
    }

    .learnmore-link {
        font-size: 1.3rem;
        right: 20%;
        top: 80%;
    }

    .webf-content {
        font-size: 1.7rem;
    }

    .organisation-twitter-name {
        font-family: $font-stack;
        font-size: 1rem;
        font-weight: bold;
    }
}

@include respond-to('large') {
    .hero-section-content {
        font-size: 2.5rem;
    }

    .offering-content {
        margin: auto;
    }

    .offering-content {
        p {
            font-size: 2rem;
            padding-left: 1.5rem;
        }
    }

    .learnmore-link {
        font-size: 1.5rem;
        position: absolute;
        right: 20%;
        top: 85%;
    }

    .webf-content {
        font-size: 2rem;
        padding-left: 1.5rem;
    }

    .about-us-wrapper {
        margin: auto;
    }

    .about-us-title {
        padding: 0 0 0 1.5rem;
    }

    .organisation-address {
        font-family: $font-stack;
        font-size: 1rem;
        margin-top: 10px;
        padding: 0 0 0 1.5rem;
    }
}
