<header>
<nav class="navigation-panel">
  <div class="navigation-panel-wrapper">
      <div class="mobile-logo">
          <img src="./static/images/logo48.png">
      </div>
      <div class="tablet-logo">
          <img src="./static/images/logo72.png">
      </div>
      <div class="desktop-logo">
          <img src="./static/images/logo96.png">
      </div>
      <div class="organisation-name">Usable Bytes</div>
      <div class="clear-fix"></div>
  </div>
</nav>
</header>

<!-- <header>
    <nav class="navigation-panel">
        <div class="navigation-panel-wrapper">
        <div class="organisation-logo">
            <picture class="logo">
                <source srcset="../header/static/images/logo48.png" media="(min-width: 970px)">
                <source srcset="../header/static/images/logo72.png" media="(min-width: 495px)">
                <img src="../header/static/images/logo96.png" alt="logo">
            </picture>
            <div class="organisation-name">Usable Bytes</div>
            <div class="clear-fix"></div>
        </div>
    </div>
    </nav>
</header> -->
