@import '../../assets/css/main.scss';
$font-stack:'Lato',sans-serif;

footer {
    background-color: black;
}

.copyright-content {
    // max-width: 1440px;
    font-family: $font-stack;
    color: white;
    font-style: italic;
    padding: 0 0 0 1.5rem;
    margin: auto;

    p {
        margin: auto;
        max-width: 1440px;
    }
}

@include respond-to('large') {
    .copyright-content {
        padding: 1rem 0 1rem 1.5rem;
    }
}
