footer {
    background-color: black;
    width: 100%;
    margin: auto;
}

#copyright-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-style: italic;
    padding: 0 0 0 1.5rem;
}

@media(min-width:970px) {
    #copyright-content {
        width: 960px;
        margin: auto;
        padding: 0;
    }
}