@import '../../assets/css/main.scss';
$font-stack:'Lato',sans-serif;

footer {
    background-color: black;
}

.copyright-content {
    color: white;
    display: block;
    font-family: $font-stack;
    font-style: italic;
    margin: auto;
    max-width: calc(1440px - 1.5rem);
    padding: 0 0 0 1.5rem;
}

@include respond-to('large') {
    .copyright-content {
        padding: 1rem 0 1rem 1.5rem;
    }
}
